[submodule "rabbitcommunicationlib"]
	path = rabbitcommunicationlib
	url = git@gitlab.com:mentorgg/engine/RabbitCommunicationLib.git
[submodule "matchdb"]
	path = matchdb
	url = git@gitlab.com:mentorgg/csgo/matchdb
